[Unit]
Description=Starts the ipfs cluster daemon
After=network.target ipfs.service

[Service]
Type=simple
PIDFile=/var/run/ipfs_daemon.pid
ExecStart=/boot_scripts/cluster_manager.sh 

[Install]
WantedBy=multi-user.target
