[Unit]
Description=Starts the prometheus server
After=network.target ipfs_cluster.service

[Service]
Type=simple
PIDFile=/var/run/prometheus_daemon.pid
ExecStart=/boot_scripts/prom_server_start.sh

[Install]
WantedBy=multi-user.target
